<template>
	<div class="round-info">
		<!--suppress JSUnresolvedconstiable -->
		<div class="round-title">
			<p>
				<template v-if="$store.state.state.gameStarted">
					ROUND <br/>
					{{ $store.state.state.currentRound }}/{{ $store.state.config.totalRounds }}<br/>
				</template>
				<span class="game-state game-ended" v-if="$store.state.state.gameEnded">ENDED!</span>
				<span class="game-state game-frozen" v-else-if="$store.state.state.freeze">FROZEN</span>
				<span class="game-started" v-else-if="$store.state.state.gameStarted"></span>
				<span class="game-state game-notstarted" v-else>NOT STARTED</span>
			</p>
		</div>
		<div class="timer-block">
			<template v-if="!$store.state.state.gameStarted">
				{{ gameCountdownString }}
			</template>
			<template v-else>
				{{ roundCountdownString }}
			</template>
		</div>
		<div class="statuses-info">
			<div class="info-up">
				<div class="up-square"></div>
				<span>Up</span>
			</div>
			<div class="info-mumble">
				<div class="mumble-square"></div>
				<span>Mumble</span>
			</div>
			<div class="info-corrupt">
				<div class="corrupt-square"></div>
				<span>Corrupt</span>
			</div>
			<div class="info-down">
				<div class="down-square"></div>
				<span>Down</span>
			</div>
		</div>
		<div class="logo">
			<img alt="M*CTF 2020 logo" src="@/assets/mctf_logo_white.svg"/>
		</div>
		<div class="links">
			<a href="/circle/" target="_blank">Visualisation</a>
		</div>
	</div>
</template>

<script>
export default {
	name: 'RoundBlock',
	data() {
		return {
			roundCountdownString: '00:00',
			gameCountdownString: '00:00:00',
		};
	},
	computed: {
		roundStartDatetime() {
			// noinspection JSUnresolvedconstiable
			if (this.$store.state?.state?.currentRoundStart && this.$store.state?.config?.roundLength) {
				return new Date(this.$store.state.state.currentRoundStart).getTime()  // Parse as UTC!
					+ (this.$store.state.config.roundLength * 1000);
			}
			return 0;
		},
		gameStartDatetime() {
			return new Date(this.$store.state?.config?.gameStartTime).getTime();
		},
	},
	watch: {
		roundStartDatetime() {
			console.debug('roundStartDatetime() watch called', this.roundStartDatetime);
			this.initializeCountdown();
		},
		gameStartDatetime() {
			this.initializeCountdown();
		},
	},
	methods: {
		// https://www.w3schools.com/howto/howto_js_countdown.asp
		countdownMethod() {
			const now = new Date().getTime();
			const distance = this.roundStartDatetime - now;

			if (distance <= 0) {
				console.info('Countdown done, stopping...');
				clearInterval(this.interval);
				return;
			}

			const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)).toString();
			const seconds = Math.floor((distance % (1000 * 60)) / 1000).toString();

			this.roundCountdownString = `${minutes.padStart(2, '0')}:${seconds.padStart(2, '0')}`;
		},
		gameCountdownMethod() {
			const now = new Date().getTime();
			const distance = new Date(this.gameStartDatetime).getTime() - now;

			// If the count down is finished, write some text
			if (distance < 0) {
				clearInterval(this.gameInterval);
				return;
			}

			const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)).toString();
			const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)).toString();
			const seconds = Math.floor((distance % (1000 * 60)) / 1000).toString();

			this.gameCountdownString = `${hours.padStart(1, '0')}:${minutes.padStart(2, '0')}:${seconds.padStart(2, '0')}`;
		},
		initializeCountdown() {
			this.interval = setInterval(this.countdownMethod, 500);
			this.gameInterval = setInterval(this.gameCountdownMethod, 500);
		},
	},
};
</script>

<style scoped>
.round-info {
	width: 15%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media screen and (max-width: 1100px) {
	.round-info {
		display: none;
	}
}

.round-title, .timer-block {
	display: flex;
	align-items: center;
	justify-content: center;
}

.round-title {
	font-size: 190%;
	font-weight: 900;
	letter-spacing: 2px;
	text-align: center;
	color: #58d2dc;
	text-shadow: 0 0 16px #3b65e5;
	min-height: 90px;
}

.game-state {
	margin-top: 1rem;
}

.timer-block {
	width: 100%;
	height: 250px;
	font-size: 400%;
	font-weight: 300;
	text-align: center;
	color: #58d2db;
	text-shadow: 0 0 16px #3b65e5;
}

.statuses-info {
	font-size: 110%;
	font-weight: 700;
	line-height: 1;
	color: #ffffff;
	margin-left: 2rem;
	margin-bottom: 3rem;
}

.statuses-info span {
	font-size: 18px;
	text-align: center;
	color: #ffffff;
	margin-left: 18px;
}

.info-corrupt,
.info-down,
.info-mumble,
.info-up {
	display: flex;
	align-items: center;
}

.corrupt-square,
.down-square,
.mumble-square,
.up-square {
	width: 2rem;
	height: 2rem;
	margin: 16px 0;
}


.up-square {
	background-color: #0a7171;
}

.corrupt-square {
	background-color: #a74b0e;
}

.mumble-square {
	background-color: #8c6c12;
}

.down-square {
	background-color: #960043;
}

.logo img {
	width: 70%;
	margin-bottom: 1rem;
}

.links {
	margin-bottom: 2rem;
}

a {
	font-size: 110%;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 1px;
	color: #ffffff;
	text-shadow: 0 0 9px rgba(255, 255, 255, 0.58);
	transition: all 500ms;
}

a:hover {
	color: #58d2db;
	text-shadow: 0 0 9px rgba(59, 101, 229, 0.58);
}
</style>
