<template>
	<div class="scores-table">
		<div class="service-block">
			<div class="team-title">
				<div class="logo">Team</div>
				<div class="place"></div>
				<div class="name"><span></span></div>
				<div class="score">Score</div>
			</div>
			<div class="service-title">
				<div v-for="[i, serviceName] in iterateServices"
					 :key="i"
					 :class="`service service-${i}`">
					{{ serviceName }}
				</div>
			</div>
		</div>
		<transition-group name="flip-list" tag="ul">
			<TeamRow v-for="(team, place) in iterateTeams"
					 :key="team.teamId"
					 :team="team"
					 :place="place"/>
		</transition-group>
	</div>
</template>

<script>
import TeamRow from '@/components/TeamRow';

export default {
	name: 'ScoresTableBlock',
	components: {TeamRow,},
	computed: {
		iterateServices() {
			if (this.$store.state?.config?.services) {
				return Object.entries(this.$store.state.config.services);
			}
			return [];
		},
		iterateTeams() {
			if (this.$store.state?.config?.teams
				&& this.$store.state?.config?.services) {
				// Prepare teams: merge config and state info
				const resultTeams = [];
				this.$store.state.config.teams.forEach((team, teamId) => {
					console.debug(`Processing team #${teamId}`, team);
					// Prepare services: merge scores, statuses and calculate total team score
					let teamScore = 0;
					const services = [];
					this.$store.state.config.services.forEach((serviceName, serviceId) => {
						console.debug(`Processing service #${serviceId}`, serviceName);
						const score = this.$store.state.scores[teamId.toString()][serviceId.toString()];
						const status = this.$store.state.statuses[teamId.toString()][serviceId.toString()];

						const resultService = {
							serviceId: serviceId,
							name: serviceName,
							fp: score.score,
							stolenFlags: score.stolenFlags,
							lostFlags: score.lostFlags,
							status: status.status,
							statusDescription: status.description,
							sla: status.sla,
						};

						teamScore += (resultService.sla * resultService.fp);

						console.debug('Done w/ service!', resultService);
						services.push(resultService);
					});


					const resultTeam = {
						teamId: teamId,
						name: team.name,
						icon: team.icon,
						ip: team.ip,
						services: services,
						score: teamScore,
					};
					console.debug('Done w/ team!', resultTeam);
					resultTeams.push(resultTeam);
				});
				return resultTeams.sort(((a, b) => b.score - a.score));
			}
			return [];
		},
	},
};
</script>

<style scoped>
/*noinspection CssUnusedSymbol*/
.flip-list-move {
	transition: transform 2s;
	transition-delay: 100ms;
}

.scores-table {
	width: 85%;
	height: 100vh;
	opacity: 1;
	display: flex;

	flex-direction: column;
}

@media screen and (max-width: 1100px) {
	.scores-table {
		width: 100%;
	}
}

ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	/*min-height: calc(100vh - 90px);*/
	display: flex;

	flex-direction: column;
}

.service-block {
	flex-grow: 1;
	display: flex;
	min-height: 4rem;
	max-height: 4rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.team-title {
	font-size: 110%;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 1px;
	color: #ffffff;
	width: 40%;
	display: flex;

	align-items: center;
	padding-right: 64px;
}

.service-title {
	width: 60%;
	display: flex;

	flex-grow: 1;

	align-items: center;
	justify-content: space-evenly;
	font-size: 110%;
}

/*noinspection CssUnusedSymbol*/
.service {
	width: 20%;
	font-size: 110%;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 1px;
	color: #ffffff;
	text-shadow: 0 0 9px rgba(255, 255, 255, 0.58);
}

.team-title .logo {
	padding: 0 8px;
	width: 25%;
}

.team-block .team-name .name,
.team-name .name,
.team-title .name {
	width: 35%;
	padding: 0 8px;
	display: flex;

	justify-content: flex-start;
}

.team-block .team-name .name span {
	text-align: start;
}

.team-block .team-name .place,
.service-block .team-title .place {
	width: 5%;
	padding: 0 8px;
}

.team-block .team-name .score,
.service-block .team-name .score,
.service-block .team-title .score {
	width: 35%;
	padding: 0 8px;
	display: flex;

	justify-content: flex-end;
}

.service-block .team-title {
	font-size: 110%;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 1px;
	color: #ffffff;
	text-shadow: 0 0 9px rgba(255, 255, 255, 0.58);
}
</style>
