<template>
	<div :class="`team-service ${service.status.toLowerCase()} team-service-${service.serviceId}`">
		<div class="titles">
			<span class="sla-title">SLA</span>
			<span class="fp-title">FP</span>
			<span class="flag-title">
				<img alt="Flag icon" src="@/assets/flag.svg">
			</span>
		</div>
		<div class="counts">
			<span class="sla-count">{{ (service.sla * 100).toFixed(2) }}%</span>
			<span class="fp-count">{{ service.fp.toFixed(1) }}</span>
			<span class="flag-count">+{{ service.stolenFlags }}/-{{ service.lostFlags }}</span>
		</div>
		<div class="trace" v-tooltip="tooltipOptions">
			<span class="trace-question-mark">?</span>
		</div>
		<div class="first-blood" v-if="isFirstBlood">
			<img alt="First blood!" title="First blood!" src="@/assets/first-blood.svg" width="28" height="28"/>
		</div>
	</div>
</template>

<script>
export default {
	name: 'TeamServiceColumn',
	props: {
		service: Object,
		teamId: Number,
	},
	data() {
		return {
			tooltipOptions: {
				content: this.service.statusDescription,
				offset: 4,
			},
		};
	},
	computed: {
		statusDesc() {
			return this.service.statusDescription;
		},
		isFirstBlood() {
			return this.$store.state.firstBloods?.[this.service.serviceId] === this.teamId;
		},
	},
	watch: {
		statusDesc() {
			this.tooltipOptions.content = this.statusDesc;
		},
	},
};
</script>

<style scoped>
/*noinspection CssUnusedSymbol*/
.team-service {
	width: 20%;
	display: flex;
	flex-grow: 1;

	align-items: center;
	color: #ffffff;
	line-height: 1.33;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);

	transition: background-color 1s;
}


.sla-title, .fp-title, .flag-title,
.sla-count, .fp-count, .flag-count {
	padding: 1px 0;
}

.flag-title img {
	width: 1rem;
}

/*noinspection CssUnusedSymbol*/
.up {
	background-color: #0a7171;
}

/*noinspection CssUnusedSymbol*/
.corrupt {
	background-color: #a74b0e;
}

/*noinspection CssUnusedSymbol*/
.mumble {
	background-color: #8c6c12;
}

/*noinspection CssUnusedSymbol*/
.down {
	background-color: #960043;
}

/*noinspection CssUnusedSymbol*/
.team-service .titles,
.team-service .counts {
	display: flex;

	flex-direction: column;
	/* justify-content: center; */
	padding-left: 16px;

	align-items: flex-start;
}

/*noinspection CssUnusedSymbol*/
.team-service .titles {
	color: #aaaaaa
}

/*noinspection CssUnusedSymbol*/
.team-service .counts {
	color: rgba(255, 255, 255, 1);
}


/*noinspection CssUnusedSymbol*/
.trace {
	width: 1.5rem;
	height: 1.5rem;
	border: solid 2px rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	position: absolute;
	right: 8px;
	bottom: 8px;
	font-size: 100%;
	color: #bbbbbb;
	cursor: pointer;
	z-index: 101;
	display: flex;
	justify-content: center;
	align-items: center;

	transition: all .2s;
}

.first-blood {
	position: absolute;
	right: 8px;
	top: 4px;
}

/*noinspection CssUnusedSymbol*/
.trace:hover {
	border: solid 2px rgba(0, 0, 0, 0.3);
}

/*noinspection CssUnusedSymbol*/
.trace .info-trace-icon {
	color: rgba(0, 0, 0, 0.3);
}

/*noinspection CssUnusedSymbol*/
.team-service {
	position: relative;
	z-index: 10
}

.super {
	z-index: 100;
}

.trace-text {
	width: 230px;
	height: 155px;
	box-sizing: border-box;
	background-color: #ffffff;
	color: #000000;
	position: absolute;
	z-index: 100;
	padding: 30px 15px 30px 50px;
	display: -ms-flexbox;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.trace-text .icon-block {
	width: 20px;
	height: 20px;
	border: solid 3px rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	position: absolute;
	top: 30px;
	left: 15px;
	font-size: 14px;
	cursor: pointer;
	z-index: 101;
	display: flex;
	justify-content: center;
	align-items: center;
}

.trace-text .icon-block .info-trace-icon {
	color: rgba(0, 0, 0, 0.3);
}
</style>
