<template>
	<li :id="team.teamId" class="team-block list-item card list">
		<div class="team-name">
			<div class="logo">
				<img :alt="`Team ${team.name} logo`" :src="`/resources/logo/${team.icon}`"/>
			</div>
			<div class="place">
				<img v-if="place === 0" alt="1st place" src="@/assets/1st-place.svg">
				<img v-else-if="place === 1" alt="2nd place" src="@/assets/2nd-place.svg">
				<img v-else-if="place === 2" alt="3rd place" src="@/assets/3rd-place.svg">
				<template v-else>
					{{ place + 1 }}
				</template>
			</div>
			<div class="name" style="text-align: left;">
				<p>
					{{ team.name }}<br/>
					<span class="muted">{{ team.ip }}</span>
				</p>
			</div>
			<div class="score">
				{{ team.score.toFixed(2) }}
			</div>
		</div>
		<div class="team-services">
			<TeamServiceColumn v-for="service in team.services"
							   :key="service.serviceId"
							   :service="service"
							   :team-id="team.teamId"/>
		</div>
	</li>
</template>

<script>
import TeamServiceColumn from '@/components/TeamServiceColumn';

export default {
	name: 'TeamRow',
	components: {TeamServiceColumn,},
	props: {
		team: Object,
		place: Number,
	},
};
</script>

<style scoped>
.team-block {
	/*margin-left: 30px;*/
	flex-grow: 1;
	display: flex;
}

.team-block .team-name {
	font-size: 110%;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 1px;
	color: #ffffff;
	width: 40%;
	display: flex;

	align-items: center;
	padding-right: 3.25rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.team-name {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.team-name .logo {
	padding: 0 8px;
	width: 25%;
}

.team-name .logo img {
	width: 4rem;
}


.team-block .team-name .name,
.team-name .name,
.team-title .name {
	width: 35%;
	padding: 0 8px;
	display: flex;

	justify-content: flex-start;
}

.muted {
	font-size: 80%;
	color: #919191;
}

.team-block .team-name .name span {
	text-align: start;
}

.team-block .team-name .place,
.team-title .place {
	width: 5%;
	padding: 0 8px;
}

.team-block .team-name .score,
.team-name .score,
.team-title .score {
	width: 35%;
	padding: 0 8px;
	display: flex;

	justify-content: flex-end;
}

.team-block .team-services,
.service-block .team-services {
	width: 60%;
	display: flex;

	flex-grow: 1;
	font-size: 130%;
}
</style>
