<template>
	<div id="app">
		<ScoresTableBlock/>
		<RoundBlock/>
	</div>
</template>

<script>
import ScoresTableBlock from '@/components/ScoresTableBlock';
import RoundBlock from '@/components/RoundBlock';
import {errorToToast,} from '@/utils';

export default {
	name: 'App',
	components: {RoundBlock, ScoresTableBlock,},
	data() {
		return {
			websocket: null,
		};
	},
	methods: {
		loadGameState() {
			console.debug('Loading game state');
			this.$http.get('state')
				.then(r => {
					const data = r.data;
					console.debug('Got game state', data);

					this.$store.commit('setGameState', data);
					document.title = `${data.config.ctfTitle} Scoreboard`;
				})
				.catch(e => {
					console.error('Failed to load game state', e);
					this.$toasted.error(errorToToast(e));
				});
		},
		connectWebsockets() {
			if (this.$store.state.wsConnected) {
				console.info('[WS] Already connected');
				return;
			}
			console.info('[WS] Connecting');
			let wsUri;
			if (window.location.protocol === 'https:') {
				wsUri = 'wss://';
			} else {
				wsUri = 'ws://';
			}
			wsUri += window.location.host + '/ws';
			this.websocket = new WebSocket(wsUri);
			this.websocket.onopen = ev => {
				console.info('[WS] Connected', ev);
				this.$store.commit('setWsConnected', true);
			};
			this.websocket.onmessage = ev => {
				console.debug('[WS] New message', ev);
				const data = JSON.parse(ev.data);
				this.processWsMessage(data.type, data.value);
			};
			this.websocket.onerror = ev => {
				console.warn('[WS] Error', ev);
			};
			this.websocket.onclose = ev => {
				console.info('[WS] Disconnected', ev);
				this.$store.commit('setWsConnected', false);
				if (!ev.wasClean) {
					setTimeout(this.connectWebsockets, 1500);
				}
			};
		},
		processWsMessage(type, data) {
			switch (type) {
				case 'STEAL_FLAG':
					// {"thiefTeam": 0, "victimTeam": 1, "service": 2}
					this.$store.commit('processFlagStolenEvent', data);
					break;
				case 'UPDATE_STATUS':
					// {"team": 0, "service": 1, "status": "DOWN", "description": "meh", "sla": 0.59}
					this.$store.commit('processUpdateStatusEvent', data);
					break;
				case 'UPDATE_SCORE':
					// {"team": 0, "service": 1, "newScore": 2000.5}
					this.$store.commit('processUpdateScoreEvent', data);
					break;
				case 'GAME_START':
					// no data
					this.$store.commit('processGameStartEvent');
					break;
				case 'NEW_ROUND':
					// {"roundNum":80,"roundStart":"2020-10-27T21:32:40.00432"}
					this.$store.commit('processNewRoundEvent', data);
					break;
				case 'GAME_END':
					// no data
					this.$store.commit('processGameEndEvent');
					break;
				case 'FREEZE_START':
					// no data
					this.$store.commit('processFreezeStartEvent');
					break;
				case 'FIRST_BLOOD':
					// {"team": 0, "service": 1}
					this.$store.commit('processFirstBloodEvent', data);
					break;
				case 'FORCE_UPDATE_STATE':
					console.warn('Performing full reload!');
					this.loadGameState();
					break;
				default:
					console.warn('[WS] Unknown event', type, data);
					break;
			}
		},
	},
	mounted() {
		this.loadGameState();
		this.connectWebsockets();
	},
};
</script>

<style>
body {
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
	'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;

	font-size: .875rem;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0;
	padding: 0;

	background-color: #1b262c;
	color: #ffffff;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #506075;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);*/
	background-color: #e8b051;
}


#app {
	display: flex;
	flex-direction: row;
	width: 100%;
	text-align: center;
}

/*noinspection CssUnusedSymbol*/
.toasted-toast {
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
	'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;

	font-size: .875rem;
}

/*noinspection CssUnusedSymbol*/
.tooltip {
	display: block !important;
	z-index: 10000;
}

/*noinspection CssUnusedSymbol*/
.tooltip .tooltip-inner {
	background-color: #1b262c;
	color: white;
	border-radius: 16px;
	padding: 5px 10px 4px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.82);
}

/*noinspection CssUnusedSymbol*/
.tooltip[aria-hidden='true'] {
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, visibility .2s;
}

/*noinspection CssUnusedSymbol*/
.tooltip[aria-hidden='false'] {
	visibility: visible;
	opacity: 1;
	transition: opacity .2s;
}
</style>
